body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size:50px;
}
.name-highlight{
    color:rgb(72, 0, 255);
}
.half-width{
    width:40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width:100%;
}
h4{
    float:right;
    padding-right:10%;
    color:rgb(255, 89, 0);
}
.top-banner{
  
background-image: url("images/top-banner.png");
background-repeat: no-repeat;
}

section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration:none;
    color:white;
    background-image: linear-gradient(45deg, lightsalmon,green);
    padding:10px 20px;
    border-radius: 10px;
    font-weight: 700;

}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
    height:80%;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(60deg,red,green);
    border-image-slice: 1;
}
#learn-to{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, yellow,gray);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 10px;
    

}