body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color:rgb(72, 0, 255);
}
.half-width{
    width:40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width:100%;
}
h3{
    float:right;
    padding-right:10%;
    color:rgb(255, 89, 0);
}
